*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
}

.btn-container {
  border: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}


button, button:visited {
  background: rgba(255,255,255, 0.75);
  border: none;
  border-radius: 50%;
  color: #black;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  font-weight: 900;
  height:200px;
  line-height: 1.5;
  margin-bottom: 40px;
  mix-blend-mode: difference;
  padding: 3em;
  text-align: center;
  transition-duration: 500ms;
  width: 200px;
}

button:hover,
button:active {
  box-shadow: 0 0 5em 1em rgba(252, 92, 101,.7);
  transform: scale(1.1);
}

button:focus {
  outline: none;
}

#colorName {
  font-family: 'Merriweather', serif;
  transition-duration: 250ms;
  font-size: 3em;
  margin: 1em;
  min-height: 100px;

}



.animate {
  animation: fadeIn 1s;
  min-height: 100px;
}


@keyframes fadeIn {
  from {
  opacity: 0;}
}

@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
